
@font-face /* sf-pro-text 레귤러 */ {
  font-family: sf-pro-text Rg;
  src: url(../font/sf-pro-text_regular.woff2)
}

@font-face /* sf-pro-text 세미볼드 */ {
  font-family: sf-pro-text semibold;
  src: url(../font/sf-pro-text_semibold.woff2)
}

body {
  font-family: sf-pro-text Rg;
}

h1 {
  font-family: sf-pro-text Rg;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

p {
  font-family: sf-pro-text Rg;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.224px;
  line-height: 20.0005px;
}

